%md-toolbar.md-whiteframe-glow-z1.site-content-toolbar
  %div.md-toolbar-tools
    %md-button.md-icon-button{'aria-label':"Settings", 'ng-click':'ui.toggleLeft()', 'show-gt-md':false}
      %ng-md-icon{icon:'menu'}
    %h3
      %span {{ui.heading_text}}
