.user-widget {
  background: none;
  padding: 7px;
}

.input-field {
  color: rgba(255, 255, 255, 0.87) !important;
  border-color: rgba(255, 255, 255, 0.87) !important;

  label {
    color: rgba(255, 255, 255, 0.26);
  }

  abbr {
    text-decoration: none;
    border-bottom: none;
  }

  input {
    width: 60%;
    transition: width 0.3s ease-in-out;
    border-color: rgba(255, 255, 255, 0.87);

    &:focus {
      width: 100%;
      border-color: rgba(255, 255, 255, 0.87) !important;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.87) !important;
      outline: none;
    }
  }
}

.sign-up-submit {
  width: 60%;
  margin: 0px auto;
  transition: width 0.3s ease-in-out;
}
.sign-up-submit.form-filled {
  width: 100%;
}

.search-wrapper {
  position: relative;

  input {
    padding-left: 25px;
    width: 230px;
  }

  .material-icons {
    position: absolute;
    top: 15px;
  }
}
