%ul#nav-mobile.side-nav.fixed
  %header.nav-header
    =render partial: 'widgets/user'
  .content
    %ul.left-menu.layout-column{layout:'column'}

      %li.parent-list-item
        =render partial: 'shared/search_box'

      %li.parent-list-item
        %span.nav-item.md-button
          %div.flex{layout:'row',flex:true}
            %md-icon.nav-items-icon{'md-svg-icon': 'icons/map.svg'}
            = t 'map.title'
          %span.flex{flex:true}
          %span.md-toggle-icon.toggled
            %md-icon{'md-svg-icon': 'icons/expand_more.svg'}
        %ul.menu-toggle-list.nav-subcat{layout:'column'}
          =render partial: 'shared/nav_components/map_elements'

      %li.parent-list-item
        %span.nav-item.md-button
          %div.flex{layout:'row',flex:true}
            %md-icon.nav-items-icon{'md-svg-icon': 'icons/chat.svg'}
            = t 'chat.title'
          %span.flex{flex:true}
          %span.md-toggle-icon.toggled
            %md-icon{'md-svg-icon': 'icons/expand_more.svg'}

    %div.adwords-area
      GOOGLE ADSENSE