.row
  .col.s12.search-wrapper{ 'ng-controller': 'SearchController as searchCtrl', flex: true, layout: 'row' }
    %ng-md-icon.search{ icon: 'search', style: 'fill: white' }
    %input.search-box.white-text{ name: 'searchField' }

