%div.row{ ng: { controller: 'UsersController as usersCtrl' } }
  .logged-user{ ng: { show: 'usersCtrl.data.logged' } }
  .col.s12.login-form{ ng: { hide:'user.data.logged' } }
    = render partial: 'users/sessions/new'