// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
  input.btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: $primary-color;
    border-radius: 0;

    &:active {
      background-color: darken($primary-color, 5);
    }
  }
}
